<div class="container mt-4 row justify-content-center">
    <form method="post" action="/party/{{ party.id }}/join" name="attend" class="input-group w-50">
        <input requiredid name="bring" type="text" class="form-control" placeholder="I'll bring" aria-label=""
               aria-describedby="basic-addon1">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">OK</button>
        </div>
    </form>
</div>
